.card {
  width: 300px;
  height: 320px;
  z-index: -1;
}
.text {
  background-color: rgba(255, 253, 250, 0.8);
  height: fit-content;
  width: 80%;
  position: relative;
  top: -120px;
  left: 10%;
  text-align: center;
  border-radius: 2rem;
}
.text p {
  font-size: 18px;
  padding: 0 0.5rem;
}
.text h1 {
  padding-top: 1rem;
}
