@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "actor", sans-serif;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
