.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.backGroundImgIntro {
  width: 100%;
  height: undefined;
  aspect-ratio: 1280/680;
  position: absolute;
  top: 100px;
  z-index: -10;
}

@media screen and (max-width: 910px) {
  .backGroundImgIntro {
    aspect-ratio: 1280/1000;
  }
}
@media screen and (max-width: 615px) {
  .backGroundImgIntro {
    aspect-ratio: 1280/1200;
  }
}
