.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.backGroundImgIntro {
  width: 100%;
  padding-top: 53.1%;
  position: absolute;
  top: 100px;
  z-index: -10;
}
.sectionActuality {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffdfa;
}
.sectionMedienMitteilungen {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #fffdfa;
  margin-bottom: 2rem;
}
.cards {
  width: 80%;
  display: flex;
  flex-direction: row;
  column-gap: 8vw;
  justify-content: center;
  margin-bottom: 1rem;
}
.titlesSections {
  margin: 4rem 0;
  font-size: 36px;
  text-decoration: underline;
}
.greenButton {
  width: fit-content;
  margin: 0;
  padding: 5px 15px;
  background-color: #87bb3f;
  border-radius: 2rem;
  color: #fffdfa;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 4rem;
  z-index: 100;
}
.greenButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sectionTakePart {
  position: relative;
  width: 100%;
  padding-top: 39%;
}

.takePartBkgImg {
  z-index: -1000;
}
.takePartContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  z-index: 9;
}
.cardsTitTexBut {
  width: 300px;
  height: 450px;
  border-radius: 2rem;
  min-height: 100px;
  background-color: rgba(255, 253, 250, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
}
.cardsTitTexBut h1 {
  font-weight: 5600;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 28px;
  text-align: center;
}
.cardsTitTexBut p {
  width: 80%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 18px;
  z-index: 10;
}
.contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  margin-bottom: 4rem;
  gap: 5px;
}
.inputs {
  width: 80%;
  height: 30px;
  margin: 2px;
  text-align: center;
  background-color: #87bb3f;
  border: none;
  border-radius: 0.5rem;
}
.inputText {
  height: 60px;
}
.buttonSubmit {
  width: fit-content;
  height: 40px;
  padding: 0 15px;
  margin-top: 15px;
  font-size: 22px;
  border-radius: 2rem;
  color: #fffdfa;
  text-align: center;
}
.buttonSubmit:hover {
  cursor: pointer;
  text-decoration: underline;
}
.sectionSlogan {
  position: relative;
  width: 100%;
  padding-top: 40%;
  background-color: #fffdfa;
}
.sectionInfo {
  position: relative;
  width: 100%;
  padding-top: 55%;
}
.contentSlogan {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contentSlogan p {
  font-size: 34px;
  text-align: center;
  width: 80%;
  margin-bottom: 4rem;
}
.cardInfo {
  z-index: 10;
}
.contentInfo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  z-index: 9;
}
.imageInfo {
  z-index: -100;
}
@media screen and (max-width: 1600px) {
  .sectionTakePart {
    padding-top: 59.4%;
  }
  .sectionSlogan {
    padding-top: 47%;
  }
  .sectionInfo {
    padding-top: 52%;
  }
  .cards {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 910px) {
  .backGroundImgIntro {
    padding-top: 78.1%;
  }
  .sectionInfo {
    padding-top: 0;
    height: 480px;
  }
  .sectionSlogan {
    padding-top: 60%;
  }
  .cards {
    width: 100%;
    column-gap: 6vw;
  }
  .titlesSections {
    font-size: 34px;
  }
  .contentSlogan p {
    font-size: 30px;
  }
}
@media screen and (max-width: 840px) {
  .sectionTakePart {
    padding-top: 74.2%;
  }

  .sectionSlogan {
    padding-top: 68%;
  }
  .takePartContent {
    gap: 4vw;
  }
  .cardsTitTexBut h1 {
    font-size: 22px;
  }
  .cardsTitTexBut p {
    font-size: 14px;
  }
  .cardsTitTexBut {
    width: 280px;
    height: 400px;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

@media screen and (max-width: 615px) {
  .backGroundImgIntro {
    padding-top: 93.7%;
  }
  .sectionInfo {
    height: 880px;
  }
  .sectionSlogan {
    padding-top: 0;
    height: 420px;
    margin-bottom: 1rem;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .sectionTakePart {
    width: 100%;
    height: 850px;
  }

  .takePartContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .titlesSections {
    font-size: 28px;
  }
  .greenButton {
    font-size: 18px;
  }
  .buttonSubmit {
    font-size: 18px;
  }
  .contentSlogan p {
    font-size: 22px;
  }
  .sectionTakePart {
    padding: 0.5rem 0;
  }
  .contentInfo {
    flex-direction: column;
  }
}
@media screen and (max-width: 470px) {
  .backGroundImgIntro {
    height: 200px;
    width: 100%;
  }
  .cardsTitTexBut h1 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .cardsTitTexBut p {
    margin-bottom: 1rem;
  }
  .greenButton {
    margin-bottom: 2rem;
    font-size: 14px;
  }
  .buttonSubmit {
    font-size: 14px;
  }
  .cardsTitTexBut {
    width: 250px;
    min-height: 350px;
  }
  .titlesSections {
    font-size: 22px;
  }
}
