.backgroundImage {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: -10;
}
.container {
  margin: 0;
  width: 100%;
  height: undefined;
  aspect-ratio: 1280/680;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}
.title {
  z-index: 1;
  margin: 0;
  padding: 0;
  width: fit-content;
}
.contentIntro {
  margin-left: 10vw;
  padding: 1.5rem 1.7rem;
  color: #fffdfa;
  background-color: rgba(135, 187, 63, 0.75);
  border-radius: 2rem;
  animation: slideIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
.title {
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
}
.slogans {
  font-size: 22px;
  font-weight: 400;
  width: 80%;
  margin: 0.8rem 0;
}
.button {
  font-size: 18px;
  font-weight: 600;
  padding: 0.5rem;
  background-color: #fffdfa;
  width: fit-content;
  color: #000;
  border-radius: 2rem;
}

.button:hover {
  cursor: pointer;
}

@media screen and (max-width: 910px) {
  .title {
    font-size: 34px;
    line-height: 46px;
  }
  .slogans {
    font-size: 18px;
  }
  .button {
    font-size: 14px;
    font-weight: 600;
  }
  .container {
    aspect-ratio: 1280/1000;
  }
}

@media screen and (max-width: 635px) {
  .title {
    font-size: 28px;
    line-height: 42px;
  }
  .slogans {
    font-size: 16px;
  }
  .button {
    font-size: 12px;
    font-weight: 600;
  }
  .container {
    width: 100%;
    height: fit-content;
    padding: 2rem 0;
    grid-template-columns: 1fr 9fr 1fr;
  }
  .contentIntro {
    margin-left: 0;
    grid-column: 2/3;
  }
}
@media screen and (max-width: 470px) {
  .contentIntro {
    background-color: rgba(135, 187, 63, 1);
  }
  .title {
    font-size: 24px;
    line-height: 32px;
  }
  .slogans {
    width: 90%;
  }
}
