.otherMedia {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffdfa;

  padding: 4rem 0 0 0;
}
.sectionMedienMitteilungen {
  padding-bottom: 2rem;
  background-color: #fffdfa;
}
.titleSlogan {
  margin: 2rem 0;
}
