.container {
  padding: 4rem 0;
  width: 100%;
  min-height: 60vh;
  background-color: #fffdfa;
  display: grid;
  grid-template-columns: auto auto;
  align-items: baseline;
  justify-content: center;
  gap: 12vw;
}
.containerol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fills, auto);
  grid-column-gap: 10vw;
  grid-row-gap: 200px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 730px) {
  .container {
    gap: 10px;
  }
}
@media screen and (max-width: 650px) {
  .container {
    grid-template-columns: auto;
  }
}
